.search-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (min-width: 768px) {
		height: unset;
		padding: 0 4em;
		flex-direction: row;
	}
	.search-container-grow {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 8px;
		border: 2px solid initial;
		@media (min-width: 768px) {
			flex-grow: 1;
			flex-direction: row;
		}
	}

	.placeholder-styles {
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 28px;
		/* identical to box height, or 140% */

		letter-spacing: -0.5px;
	}

	.search-field-container {
		display: flex;
		align-items: center;
		width: 100%;
		height: 1000%;
		background: #dfe4ea;
		border-radius: 5px;
		margin-bottom: 2em;
		@media (min-width: 768px) {
			margin-right: 1em;
			width: 70%;
			height: 80%;
			margin-bottom: unset;
		}
		@media (min-width: 992px) {
			width: 80%;
		}
		.search-icon {
			padding: 0 1em;
			@media (min-width: 768px) {
				padding: 1em;
			}
			color: #29335c;
		}
	}

	.search-field {
		border: unset;
		background: #dfe4ea;
		all: unset;
		text-align: left;
		width: 100%;
		height: 100%;
		padding: 1em;
		@media (min-width: 768px) {
			padding: unset;
		}
		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			@extend .placeholder-styles;
		}
		&::-moz-placeholder {
			/* Firefox 19+ */
			@extend .placeholder-styles;
		}
		&:-ms-input-placeholder {
			/* IE 10+ */
			@extend .placeholder-styles;
		}
		&:-moz-placeholder {
			/* Firefox 18- */
			@extend .placeholder-styles;
		}
		@media (min-width: 0px) and (max-width: 290px) {
			font-size: 5vw;
		}
		&:focus {
			border: 2px solid;
			border-radius: 5px;
			.search-icon {
				border: 2px solid;
				border-radius: 5px;
			}
		}
	}
	.on-click {
		all: unset;
		background: #f3663f;
		border-radius: 8px;
		font-style: normal;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		letter-spacing: -0.5px;
		cursor: pointer;
		height: 100%;
		width: 100%;
		padding: 0.5em 0;
		button {
			color: #ffffff;
			all: unset
		}

		@media (min-width: 768px) {
			height: 80%;
			width: 30%;
			padding: 0 1em;
		}
		
		@media (min-width: 992px) {
			width: 20%;
		}
		@media (min-width: 0px) and (max-width: 290px) {
			font-size: 8vw;
		}
	}
}
